# editors
.vscode/

# OS & misc
.DS_STORE
*.log

# .NET
bin/
obj/

# node
node_modules/
build/
dist/
*.css

# artifacts
/data
/run

# configuration
configuration/
.env*.local

# xs ignore patterns
.xs.ignore
.xs.credentials
nuget.config
lcov.info
.npmrc
