# editors
.idea/
.vscode/
*DotSettings.user

# artifacts
.DS_Store
/build/
/logs*/
/run/
configuration/
keys/
*.blob
*.log

# xx ignore patterns
.xx.ignore
.xx.credentials
nuget.config
lcov.info
.npmrc
