# editors
.idea/
.vscode/
*DotSettings.user

# artifacts
.DS_Store
/build/
/logs*/
/run/
configuration/
keys/
*.blob
*.log
*.nupkg

# xs ignore patterns
.xs.ignore
.xs.credentials
nuget.config
lcov.info
.npmrc
