@import 'common.scss';

.block {
    max-width: 15rem;
}

.header {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.category {
    @include flex(column, stretch);

    >.label {
        padding: 0.2rem 0.5rem;
        font-size: 1.3rem;
    }
}

.permission {
    @include flex(row, center, space-between);
    margin: 0.2rem 0;
    padding: 0 3rem 0 1rem;

    >.label {
        font-size: 1.1rem;
    }
}

.submit {
    margin-top: 0.5rem;
}