@import 'common.scss';

.header {
    @include flex(row, center);
    padding: 1rem 0;
}

.nameVersion {
    @include flex(row, baseline);
    margin-left: 1rem;

    >*:not(:first-child) {
        margin-left: 1rem;
    }
}

.name {
    font-size: 2rem;
}

.version {
    font-size: 1.5rem;
}

.separator {
    flex: 1;
}

.description {
    font-size: 1.2rem;
}