$color-black: #000000;
$color-blue: #0088ee;
$color-dark-grey: #9f9f9f;
$color-grey: #d0d0d0;
$color-light-grey: #eeeeee;
$color-green: #91ff00;
$color-blaa: #8c00ff;
$color-yellow: #ffcc00;
$color-orange: #ff8800;
$color-red: #ff0000;
$color-white: #ffffff;